# Show the head of all tables in the Ensembl core database for humans

Display the head of each table in the core database.
Together with the [schema documentation](https://uswest.ensembl.org/info/docs/api/core/core_schema.html), this helps understand what is in the Ensembl database.

This notebook is not currently automatically executed during the export process.
Rerun it manually for updates.

In [1]:
import pandas as pd
from IPython.display import display, Markdown

from ensembl_genes import ensembl_genes

In [2]:
# parameters cell
species = "human"
release = "111"

In [3]:
ensg = ensembl_genes.Ensembl_Gene_Queries(release=release)
ensg.connection_url

'mysql+mysqlconnector://anonymous@ensembldb.ensembl.org:3306/homo_sapiens_core_111_38'

In [4]:
query = f'''
SHOW FULL TABLES IN {ensg.database}
'''
table_df = pd.read_sql(sql=query, con=ensg.connection_url)
table_df.head(2)

  Tables_in_homo_sapiens_core_111_38  Table_type
0                         alt_allele  BASE TABLE
1                  alt_allele_attrib  BASE TABLE

In [5]:
# number of tables (note that there are no views)
table_df.Table_type.value_counts()

BASE TABLE    77
Name: Table_type, dtype: int64

In [6]:
tables = sorted(table_df[f"Tables_in_{ensg.database}"])
len(tables)

77

In [7]:
for table in tables:
    display(Markdown(f"## {table}"))
    query = f"SELECT * FROM {table} LIMIT 5"
    df = pd.read_sql(sql=query, con=ensg.connection_url).convert_dtypes()
    display(df)

## alt_allele

   alt_allele_id  alt_allele_group_id  gene_id
0          48296                45082    76075
1          40526                44715    74325
2          40527                44715    97963
3          48297                45082    86444
4          38654                44429    97007

## alt_allele_attrib

   alt_allele_id                  attrib
0          11110       IS_REPRESENTATIVE
1          11110  AUTOMATICALLY_ASSIGNED
2          11111  AUTOMATICALLY_ASSIGNED
3          11112       IS_REPRESENTATIVE
4          11112  AUTOMATICALLY_ASSIGNED

## alt_allele_group

   alt_allele_group_id
0                44429
1                44430
2                44431
3                44432
4                44433

## analysis

,analysis_id,created,logic_name,db,db_version,db_file,program,program_version,program_file,parameters,module,module_version,gff_source,gff_feature
0,1,2014-01-13 11:04:06,mt_genbank_import_homo_sapiens,<NA>,NC_012920.1,http://www.ncbi.nlm.nih.gov/nuccore/NC_012920,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,None
1,2,2014-01-16 10:56:53,centromere_repeat,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,None,None
2,3,2014-01-24 14:27:05,repeatmask_repbase_human,repbase,20130422,repbase,RepeatMasker,3.3.0,/software/ensembl/bin/RepeatMasker_3_3_0/Repea...,-nolow -s -species homo,RepeatMasker,None,None,None
3,6,2014-01-28 10:16:30,dust,<NA>,<NA>,<NA>,dust,1,/software/ensembl/genebuild/usrlocalensemblbin...,<NA>,Dust,None,None,None
4,8,2014-01-31 13:57:19,eponine,eponine,<NA>,<NA>,eponine-scan,<NA>,/software/jdk1.6.0_14/bin/java,-epojar=> /software/ensembl/genebuild/usrlocal...,EponineTSS,None,None,None

## analysis_description

,analysis_id,description,display_label,displayable,web_data
0,10185,Protein features that represent the mapping be...,AFDB-ENSP mappings,1,<NA>
1,8165,Mappings between primary assembly and alternat...,Primary assembly mapping,1,"{""colour_key"": ""reference"", ""no_default_render..."
2,9960,Annotation produced by aligning human cDNA seq...,Ensembl assembly patch,1,"{""caption"": ""Genes (Comprehensive set from GEN..."
3,9852,"<a href=""http://prodom.prabi.fr/"">ProDom</a> d...",ProDom,1,"{""type"": ""domain""}"
4,8416,Protein coding sequences agreed upon by the Co...,CCDS set,1,"{""default"": {""contigviewbottom"": ""normal""}, ""d..."

## assembly

,asm_seq_region_id,cmp_seq_region_id,asm_start,asm_end,cmp_start,cmp_end,ori
0,131064,35219,1,2415,1,2415,1
1,131065,35272,1,993,1,993,1
2,131066,35227,1,1143,1,1143,1
3,131067,24414,1,27745,1,27745,1
4,131068,35239,1,1216,1,1216,1

## assembly_exception

Empty DataFrame
Columns: [assembly_exception_id, seq_region_id, seq_region_start, seq_region_end, exc_type, exc_seq_region_id, exc_seq_region_start, exc_seq_region_end, ori]
Index: []

## associated_group

Empty DataFrame
Columns: [associated_group_id, description]
Index: []

## associated_xref

Empty DataFrame
Columns: [associated_xref_id, object_xref_id, xref_id, source_xref_id, condition_type, associated_group_id, rank]
Index: []

## attrib_type

,attrib_type_id,code,name,description
0,1,embl_acc,European Nucleotide Archive (was EMBL) accession,ENA
1,2,status,Status,<NA>
2,3,synonym,Synonym,<NA>
3,4,name,Name,Alternative/long name
4,5,type,Type of feature,<NA>

## biotype

,biotype_id,name,object_type,db_type,attrib_type_id,description,biotype_group,so_acc,so_term
0,1,IG_C_gene,gene,"{core, presite, otherfeatures}",100,None,coding,SO:0001217,protein_coding_gene
1,2,IG_C_gene,transcript,"{core, presite, otherfeatures}",<NA>,None,coding,SO:0000478,C_gene_segment
2,3,IG_D_gene,gene,"{core, presite, otherfeatures}",100,None,coding,SO:0001217,protein_coding_gene
3,4,IG_D_gene,transcript,"{core, presite, otherfeatures}",<NA>,None,coding,SO:0000458,D_gene_segment
4,5,IG_J_gene,gene,"{core, presite, otherfeatures}",100,None,coding,SO:0001217,protein_coding_gene

## coord_system

,coord_system_id,species_id,name,version,rank,attrib
0,1,1,contig,<NA>,4,"{sequence_level, default_version}"
1,3,1,scaffold,GRCh38,2,{default_version}
2,4,1,chromosome,GRCh38,1,{default_version}
3,2,1,clone,<NA>,3,{default_version}
4,12,1,chromosome,GRCh37,5,None

## data_file

Empty DataFrame
Columns: [data_file_id, coord_system_id, analysis_id, name, version_lock, absolute, url, file_type]
Index: []

## density_feature

,density_feature_id,density_type_id,seq_region_id,seq_region_start,seq_region_end,density_value
0,822473,140,131546,2665507,3554008,11
1,822472,142,131537,42595468,42986251,4
2,822471,140,131546,1777005,2665506,5
3,822470,142,131537,42204684,42595467,2
4,818953,142,131540,131013666,131936296,8

## density_type

   density_type_id  analysis_id  block_size  region_features value_type
0              139         8410           0              150        sum
1              140         8409           0              150        sum
2              142         8412           0              150        sum
3              141         8413           0              150      ratio
4              143         8411           0              150        sum

## dependent_xref

   object_xref_id  master_xref_id  dependent_xref_id
0        29202134         5073946            7494931
1        29202133         5134134            7482438
2        29202132         5134134            7482309
3        29202131         5134134            7482315
4        29202130         5134134            7482314

## ditag

Empty DataFrame
Columns: [ditag_id, name, type, tag_count, sequence]
Index: []

## ditag_feature

Empty DataFrame
Columns: [ditag_feature_id, ditag_id, ditag_pair_id, seq_region_id, seq_region_start, seq_region_end, seq_region_strand, analysis_id, hit_start, hit_end, hit_strand, cigar_line, ditag_side]
Index: []

## dna

   seq_region_id                                           sequence
0              1  AGGTGTTAAAAGGAGAATAAACACTGGATTGCCGTGAGGGAACAGG...
1              2  CATATGAGCCAGTTCATATAGTAAATCTCCTCCTATTGATCTATAC...
2              3  AAATGGAGTGTTAAACATGTTTGCTTCCAGTAAGAAGGCAGGAACA...
3              4  CAGGAAAGCAAGACTAGTCAAGCACTTTGCACAGGGCCTGGCACAT...
4              5  TCTCCCCCAGCACTCTGGTCTCTGTCCTCCAGGAAAAATCCCCTCT...

## dna_align_feature

,dna_align_feature_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,hit_start,hit_end,hit_strand,hit_name,analysis_id,score,evalue,perc_ident,cigar_line,external_db_id,hcoverage,align_type
0,1,131067,7712,7840,1,262,381,1,Cfa.21134,9,2493,0.0,85,15M9I15M3D36M6I39M3D9M,4100,None,ensembl
1,2,131067,7760,7831,1,141,212,1,Str.27732,9,49,0.000002,41,72M,4100,None,ensembl
2,3,131067,7760,7831,1,141,212,1,CR942701.1,14,49,0.000001,41,72M,700,None,ensembl
3,4,131067,7760,7831,1,109,180,1,BC087807.1,14,49,0.000001,41,72M,700,None,ensembl
4,5,131067,7763,7840,1,5,94,1,Str.71945,9,2295,0.0,82,75M12D3M,4100,None,ensembl

## dna_align_feature_attrib

Empty DataFrame
Columns: [dna_align_feature_id, attrib_type_id, value]
Index: []

## exon

,exon_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,phase,end_phase,is_current,is_constitutive,stable_id,version,created_date,modified_date
0,5793,132907,577,647,1,-1,-1,1,1,ENSE00001544501,1,2007-09-07 00:01:32,2007-09-07 00:01:32
1,5794,132907,648,1601,1,-1,-1,1,1,ENSE00001544499,2,2007-09-07 00:01:32,2010-01-08 18:00:56
2,5795,132907,1602,1670,1,-1,-1,1,1,ENSE00001544498,1,2007-09-07 00:01:32,2007-09-07 00:01:32
3,5796,132907,1671,3229,1,-1,-1,1,1,ENSE00001544497,2,2007-09-07 00:01:32,2010-01-08 18:00:56
4,5797,132907,3230,3304,1,-1,-1,1,1,ENSE00002006242,1,2010-01-08 18:00:56,2010-01-08 18:00:56

## exon_transcript

   exon_id  transcript_id  rank
0     5793           1587     1
1     5794           1588     1
2     5795           1589     1
3     5796           1590     1
4     5797           1591     1

## external_db

,external_db_id,db_name,db_release,status,priority,db_display_name,type,secondary_db_name,secondary_db_table,description
0,211,BRC4_Community_Symbol,1,KNOWN,50,BRC4 Community Symbol,MISC,None,None,None
1,212,BRC4_External_Description,1,PRED,50,BRC4 External Description,MISC,None,None,None
2,213,BRC4_RNA_Description,1,PRED,50,BRC4 RNA Description,MISC,None,None,None
3,230,Ribosomal_Protein_Gene_Database,Dec.2010,XREF,50,Ribosomal Protein Gene DB,MISC,None,None,None
4,250,ImmunoDB,1,KNOWN,50,ImmunoDB,MISC,None,None,None

## external_synonym

   xref_id  synonym
0  4029617     A2MP
1  4032999  ALOX12E
2  4041697    CCBL1
3  4041697      GTK
4  4041697     KAT1

## gene

,gene_id,biotype,analysis_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,display_xref_id,source,description,is_current,canonical_transcript_id,stable_id,version,created_date,modified_date
0,554,Mt_tRNA,1,132907,577,647,1,6869322,insdc,mitochondrially encoded tRNA-Phe (UUU/C) [Sour...,1,1587,ENSG00000210049,1,2006-05-12,2006-05-12 00:00:00
1,555,Mt_rRNA,1,132907,648,1601,1,6869295,insdc,mitochondrially encoded 12S rRNA [Source:HGNC ...,1,1588,ENSG00000211459,2,2006-07-03,2010-01-08 18:00:56
2,556,Mt_tRNA,1,132907,1602,1670,1,6869387,insdc,mitochondrially encoded tRNA-Val (GUN) [Source...,1,1589,ENSG00000210077,1,2006-05-12,2006-05-12 00:00:00
3,557,Mt_rRNA,1,132907,1671,3229,1,6869299,insdc,mitochondrially encoded 16S rRNA [Source:HGNC ...,1,1590,ENSG00000210082,2,2006-05-12,2010-01-08 18:00:56
4,558,Mt_tRNA,1,132907,3230,3304,1,6869347,insdc,mitochondrially encoded tRNA-Leu (UUA/G) 1 [So...,1,1591,ENSG00000209082,1,2006-05-12,2006-05-12 00:00:00

## gene_archive

,gene_stable_id,gene_version,transcript_stable_id,transcript_version,translation_stable_id,translation_version,peptide_archive_id,mapping_session_id
0,ENSG00000183819,3,ENST00000338253,1,ENSP00000342727,1,49107,359
1,ENSG00000183823,1,ENST00000332321,1,ENSP00000332580,1,19806,1
2,ENSG00000183825,1,ENST00000331611,1,ENSP00000333178,1,26723,1
3,ENSG00000183826,1,ENST00000328403,1,ENSP00000328328,1,27640,1
4,ENSG00000183826,2,ENST00000328403,2,ENSP00000328328,2,31820,356

## gene_attrib

   gene_id  attrib_type_id               value
0   129048             395  OTTHUMG00000180476
1    91039               4       RP11-325I22.2
2    91025               4             CLPTM1L
3    91037             380   overlapping locus
4    91037               4       RP4-669P10.19

## genome_statistics

,genome_statistics_id,statistic,value,species_id,attrib_type_id,timestamp
0,4,noncoding_cnt,26462,1,353,2023-06-09 15:23:01
1,6,transcript,252989,1,403,2023-06-09 15:23:01
2,9,ref_length,3099750718,1,405,2023-06-09 15:23:01
3,11,total_length,5221798225,1,406,2023-06-09 15:23:01
4,16,noncoding_acnt,2009,1,368,2023-06-09 15:23:01

## identity_xref

,object_xref_id,xref_identity,ensembl_identity,xref_start,xref_end,ensembl_start,ensembl_end,cigar_line,score,evalue
0,16057759,100,100,1,378,1,378,378M,1976,None
1,16057758,100,100,1,126,1,126,126M,681,None
2,16057757,100,100,1,663,1,663,663M,3499,None
3,16057756,99,99,2,180,2,180,179M,968,None
4,16057755,100,100,1,55,1,55,55M,285,None

## interpro

  interpro_ac       id
0   IPR000001  PF00051
1   IPR000001  PS50070
2   IPR000001  SM00130
3   IPR000001  cd00108
4   IPR000003  PR00545

## intron_supporting_evidence

Empty DataFrame
Columns: [intron_supporting_evidence_id, analysis_id, seq_region_id, seq_region_start, seq_region_end, seq_region_strand, hit_name, score, score_type, is_splice_canonical]
Index: []

## karyotype

,karyotype_id,seq_region_id,seq_region_start,seq_region_end,band,stain
0,1,131550,1,2300000,p36.33,gneg
1,2,131550,2300001,5300000,p36.32,gpos25
2,3,131550,5300001,7100000,p36.31,gneg
3,4,131550,7100001,9100000,p36.23,gpos25
4,5,131550,9100001,12500000,p36.22,gneg

## map

   map_id       map_name
0       1   GeneMap99-G3
1       2  GeneMap99-GB4
2       3       Genethon
3       4     Marshfield
4       5        NCBI-RH

## mapping_session

,mapping_session_id,old_db_name,new_db_name,old_release,new_release,old_assembly,new_assembly,created
0,352,homo_sapiens_core_120,homo_sapiens_core_3_26,1.2,3,UCSC,NCBI26,2002-09-03 11:19:48
1,351,homo_sapiens_core_3_26,homo_sapiens_core_6_28,3,6,NCBI26,NCBI28,2002-09-04 10:45:10
2,347,homo_sapiens_core_6_28,homo_sapiens_core_7_29a,6,7,NCBI28,NCBI29,2002-09-05 09:26:21
3,350,homo_sapiens_core_7_29a,homo_sapiens_core_10_30,7,10,NCBI29,NCBI30,2002-09-05 09:26:28
4,353,homo_sapiens_core_10_30,homo_sapiens_core_14_31,10,14,NCBI30,NCBI31,2003-02-07 09:38:53

## mapping_set

   mapping_set_id internal_schema_build external_schema_build
0              15                111_38                 90_38
1              16                111_38                 91_38
2              17                111_38                 92_38
3              12                111_38                 87_38
4              11                111_38                 86_38

## marker

,marker_id,display_marker_synonym_id,left_primer,right_primer,min_primer_dist,max_primer_dist,priority,type
0,1,3,GTGCATGAAAATGGGC,ATAGTGCAAAAGCATCAGTG,121,121,1,est
1,2,5,GAGGTTGTATTTACCTTCCCAA,TACACATATTCCTCTGGTGGAA,80,80,1,est
2,3,7,CATGGCTCACTACAGACTAGAT,AAATACAAATAGAAATCAGGCAG,116,116,1,est
3,4,9,ATGCTCACACATGTAGGCACAGAT,AACTGGGTCGGCTAGAAGTGAG,249,249,1,est
4,5,11,GGTGTCCAGCAACATGGAG,TTCTTCCTCCACCAGGGTC,177,177,1,est

## marker_feature

,marker_feature_id,marker_id,seq_region_id,seq_region_start,seq_region_end,analysis_id,map_weight
0,60,42460,131218,4734,5038,16,2
1,64,184347,131218,31457,31576,16,3
2,65,310373,131218,31560,31727,16,2
3,731791,47775,131928,6889,7254,16,2
4,731792,181737,131928,59652,59993,16,2

## marker_map_location

   marker_id  map_id chromosome_name  marker_synonym_id position  lod_score
0      82053       1              11             720529      441       <NA>
1     164501       1              19             360567     2755       0.83
2     190353       1              11             720530     5876       <NA>
3     190356       1              13             720531     3121       <NA>
4     128394       1              12             720532      737       <NA>

## marker_synonym

   marker_synonym_id  marker_id      source        name
0                  1          1  UniSTS_NUM       58017
1                  2          1      UniSTS      D29149
2                  3          1      UniSTS  SHGC-77074
3                  4          2  UniSTS_NUM       44919
4                  5          2      UniSTS  SHGC-74619

## meta

,meta_id,species_id,meta_key,meta_value
0,1,None,schema_type,core
1,2,None,schema_version,111
2,3,None,patch,patch_73_74_a.sql|schema_version
3,4,None,patch,patch_73_74_b.sql|remove_dnac
4,5,None,patch,patch_73_74_c.sql|remove_unconventional_transc...

## meta_coord

              table_name  coord_system_id  max_length
0         repeat_feature                4     5400307
1         repeat_feature                3      161469
2         simple_feature                4       65589
3  prediction_transcript                4      822859
4        prediction_exon                4       17331

## misc_attrib

   misc_feature_id  attrib_type_id              value
0                1               4  ABC13-48870200O19
1                1               5                ABC
2                1              18      ABC libraries
3                2               4   ABC7-40261200I15
4                2               5                ABC

## misc_feature

,misc_feature_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand
0,6461937,131064,3,2415,1
1,6461889,131066,4,1142,1
2,6461882,131068,2,1216,1
3,6461853,131069,2,1444,1
4,6461845,131070,1,1942,1

## misc_feature_misc_set

   misc_feature_id  misc_set_id
0                1           21
1                2           21
2                3           21
3                4           21
4                5           21

## misc_set

,misc_set_id,code,name,description,max_length
0,1,encode,Encode regions,"Regions that were examined in the <a rel=""exte...",1877426
1,2,genomicctg,Genomic contigs,The largest contigs constructed by the Genome ...,100530253
2,3,tilepath,Tilepath,BAC clones upon which the current genomic asse...,1071649
3,9,encode_excluded,ENCODE excluded regions,Genomic regions that have been identified as p...,4132352
4,10,bac_map,BAC map,Full list of mapped BAC clones,500000

## object_xref

,object_xref_id,ensembl_id,ensembl_object_type,xref_id,linkage_annotation,analysis_id
0,1,68610,Gene,1,None,8405
1,2,68610,Gene,2,None,8405
2,3,269936,Transcript,3,None,8405
3,4,68611,Gene,4,None,8405
4,5,68611,Gene,5,None,8405

## ontology_xref

   object_xref_id  source_xref_id linkage_type
0        26156964         7442858          IEA
1        26156965         7442858          IEA
2        26156966         7440213          IEA
3        26156966         7441147          IEA
4        26156966         7442858          IEA

## operon

Empty DataFrame
Columns: [operon_id, seq_region_id, seq_region_start, seq_region_end, seq_region_strand, display_label, analysis_id, stable_id, version, created_date, modified_date]
Index: []

## operon_transcript

Empty DataFrame
Columns: [operon_transcript_id, seq_region_id, seq_region_start, seq_region_end, seq_region_strand, operon_id, display_label, analysis_id, stable_id, version, created_date, modified_date]
Index: []

## operon_transcript_gene

Empty DataFrame
Columns: [operon_transcript_id, gene_id]
Index: []

## peptide_archive

,peptide_archive_id,md5_checksum,peptide_seq
0,1,2C1B698E496CC6BD37E4DE41A8C56CC5,THTHTHTHTHTHTLTLFCAVVKPTCPAGKLPERGTKEPGRGSGQAQ...
1,2,A84E6C112375A204FF296B6CE3402A59,LMDLMLICTTVPKMAFNYLSGSKSISMAGCVTQIFFYISLSGSECF...
2,3,6BCB0BA6BA788722AA21E02875FACF2B,GTRLPAERLQLGDLPHGRSPAGQGNRRGGGLLVRPSPPNSGPLAAP...
3,4,1F43D5DA4BF1759E41AF52BE796EE19B,EVLAYSNSSARGRAFLEHLTDLSIRGTLFVPQNSGLGENETLSGRD...
4,5,418D7D750503167EBC0D3CF921FF05DD,GSQREITATLTLLRASQVPVHASLFAMNNPIPSNLKSEAKKAAKIL...

## prediction_exon

,prediction_exon_id,prediction_transcript_id,exon_rank,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,start_phase,score,p_value
0,1,1,1,131542,122151991,122153085,1,0,44.83,0.57
1,2,2,1,131542,122675795,122675866,1,0,1.82,0.323
2,3,2,2,131542,122676062,122676286,1,0,14.2,0.858
3,4,3,1,131542,121916435,121916483,-1,0,1.56,0.46
4,5,3,2,131542,121896137,121896225,-1,1,1.07,0.524

## prediction_transcript

,prediction_transcript_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,analysis_id,display_label
0,1,131542,122151991,122153085,1,10,GENSCAN00000000001
1,2,131542,122675795,122676286,1,10,GENSCAN00000000002
2,3,131542,121876146,121916483,-1,10,GENSCAN00000000003
3,4,131542,122174100,122189697,-1,10,GENSCAN00000000004
4,5,131542,122391135,122489431,1,10,GENSCAN00000000005

## protein_align_feature

,protein_align_feature_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,hit_start,hit_end,hit_name,analysis_id,score,evalue,perc_ident,cigar_line,external_db_id,hcoverage,align_type
0,1,131067,7805,7840,1,4,16,R4XEJ9.1,15,1537,0.0,58,15M6D12M3I6M,2000,None,ensembl
1,2,131067,7805,7840,1,5,19,B3S8I7.1,15,1819,0.0,66,33M9D3M,2000,None,ensembl
2,3,131067,7817,7837,1,10,16,K5W6T5.1,15,1616,0.0,60,21M,2000,None,ensembl
3,4,131067,7817,7837,1,10,16,J4GIF4.1,15,1591,0.0,60,21M,2000,None,ensembl
4,5,131067,7817,7837,1,10,16,S8FFN6.1,15,1587,0.0,59,21M,2000,None,ensembl

## protein_feature

,protein_feature_id,translation_id,seq_start,seq_end,hit_start,hit_end,hit_name,analysis_id,score,evalue,perc_ident,external_data,hit_description,cigar_line,align_type
0,28072388,941957,46,55,1,10,3vrj.C,8633,None,None,None,,Via SIFTS (2020/09/06) UniProt protein P00403 ...,,None
1,28182936,941955,1,347,1,347,5xtc.i,8633,None,None,None,,Via SIFTS (2020/09/06) UniProt protein P03891 ...,,None
2,28182937,941963,1,115,1,115,5xtc.j,8633,None,None,None,,Via SIFTS (2020/09/06) UniProt protein P03897 ...,,None
3,28182938,941965,1,97,1,97,5xtc.k,8633,None,None,None,,Via SIFTS (2020/09/06) UniProt protein P03901 ...,,None
4,28182939,941972,1,603,1,603,5xtc.l,8633,None,None,None,,Via SIFTS (2020/09/06) UniProt protein P03915 ...,,None

## repeat_consensus

,repeat_consensus_id,repeat_name,repeat_class,repeat_type,repeat_consensus
0,1,centromere,centromere,Centromere,N
1,2,ALR/Alpha,Satellite/centr,Satellite repeats,N
2,3,SAR,Satellite,Satellite repeats,N
3,4,L1HS,LINE/L1,Type I Transposons/LINE,N
4,5,L1PA3,LINE/L1,Type I Transposons/LINE,N

## repeat_feature

,repeat_feature_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,repeat_start,repeat_end,repeat_consensus_id,analysis_id,score
0,1,131550,122026460,125184587,0,1,3158128,1,2,0
1,2,131545,92188146,94090557,0,1,1902412,1,2,0
2,3,131551,90772459,93655574,0,1,2883116,1,2,0
3,4,131552,49708101,51743951,0,1,2035851,1,2,0
4,5,131542,46485901,50059807,0,1,3573907,1,2,0

## rnaproduct

Empty DataFrame
Columns: [rnaproduct_id, rnaproduct_type_id, transcript_id, seq_start, start_exon_id, seq_end, end_exon_id, stable_id, version, created_date, modified_date]
Index: []

## rnaproduct_attrib

Empty DataFrame
Columns: [rnaproduct_id, attrib_type_id, value]
Index: []

## rnaproduct_type

Empty DataFrame
Columns: [rnaproduct_type_id, code, name, description]
Index: []

## seq_region

   seq_region_id        name  coord_system_id  length
0              1  KF573676.1                1     388
1              2  KF573670.1                1     271
2              3  KF456141.2                1     288
3              4  KF798192.1                1     432
4              5  KF459552.2                1     389

## seq_region_attrib

   seq_region_id  attrib_type_id value
0         131146               6     1
1         131181               6     1
2         131125               6     1
3         131201               6     1
4         131205               6     1

## seq_region_mapping

   external_seq_region_id  internal_seq_region_id  mapping_set_id
0              1003585640              2006446675               1
1              1003585663              2006445809               1
2              1003585672              2006445818               1
3              1003585673              2006445819               1
4              1003585674              2006445820               1

## seq_region_synonym

   seq_region_synonym_id  seq_region_id     synonym  external_db_id
0                      1         131537  CM000681.2           50710
1                      2         131538  CM000682.2           50710
2                      3         131539  CM000685.2           50710
3                      4         131540  CM000671.2           50710
4                      5         131541  CM000675.2           50710

## simple_feature

,simple_feature_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,display_label,analysis_id,score
0,1,131560,144147049,144148688,0,oe = 0.85,13,1835
1,2,131560,144185502,144185967,0,oe = 1.15,13,381
2,3,131560,144202898,144203374,0,oe = 0.72,13,262
3,4,131560,144263991,144265133,0,oe = 0.62,13,136
4,5,131560,144266245,144267222,0,oe = 0.88,13,1615

## stable_id_event

,old_stable_id,old_version,new_stable_id,new_version,mapping_session_id,type,score
0,None,0,ENSG00000050767,3,356,gene,0
1,None,0,ENSG00000066032,3,356,gene,0
2,None,0,ENSG00000087530,3,356,gene,0
3,None,0,ENSG00000088303,1,356,gene,0
4,None,0,ENSG00000100239,2,356,gene,0

## supporting_feature

   exon_id       feature_type  feature_id
0   878606  dna_align_feature       78738
1   878607  dna_align_feature       17904
2   878607  dna_align_feature       17905
3   878607  dna_align_feature       17906
4   878607  dna_align_feature       17907

## transcript

,transcript_id,gene_id,analysis_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,display_xref_id,source,biotype,description,is_current,canonical_translation_id,stable_id,version,created_date,modified_date
0,1587,554,1,132907,577,647,1,7365632,insdc,Mt_tRNA,None,1,None,ENST00000387314,1,2006-05-12,2006-05-12 00:00:00
1,1588,555,1,132907,648,1601,1,7365759,insdc,Mt_rRNA,None,1,None,ENST00000389680,2,2006-07-03,2010-01-08 18:00:56
2,1589,556,1,132907,1602,1670,1,7365633,insdc,Mt_tRNA,None,1,None,ENST00000387342,1,2006-05-12,2006-05-12 00:00:00
3,1590,557,1,132907,1671,3229,1,7365634,insdc,Mt_rRNA,None,1,None,ENST00000387347,2,2006-05-12,2010-01-08 18:00:56
4,1591,558,1,132907,3230,3304,1,7365626,insdc,Mt_tRNA,None,1,None,ENST00000386347,1,2006-05-12,2006-05-12 00:00:00

## transcript_attrib

   transcript_id  attrib_type_id               value
0         490393               3      AC004232.3-001
1         490393              54         MANE_select
2         490394               4    RP3-495O10.5-003
3         490393             395  OTTHUMT00000251463
4         490394               3    RP3-495O10.5-003

## transcript_intron_supporting_evidence

Empty DataFrame
Columns: [transcript_id, intron_supporting_evidence_id, previous_exon_id, next_exon_id]
Index: []

## transcript_supporting_feature

   transcript_id           feature_type  feature_id
0         271576      dna_align_feature       78738
1         271578      dna_align_feature       92760
2         271584  protein_align_feature        8356
3         271585  protein_align_feature       14035
4         271586      dna_align_feature      104348

## translation

,translation_id,transcript_id,seq_start,start_exon_id,seq_end,end_exon_id,stable_id,version,created_date,modified_date
0,941978,1664,1,5909,1141,5909,ENSP00000354554,2,2004-11-24,2010-01-08 18:00:56
1,941974,1656,1,5905,525,5905,ENSP00000354665,2,2004-11-24,2010-01-08 18:00:56
2,941972,1652,1,5893,1812,5893,ENSP00000354813,2,2004-11-24,2010-01-08 18:00:56
3,941969,1642,1,5879,1378,5879,ENSP00000354961,2,2004-11-24,2010-01-08 18:00:56
4,941965,1637,1,5872,297,5872,ENSP00000354728,1,2004-11-24,2004-11-24 00:00:00

## translation_attrib

   translation_id  attrib_type_id         value
0          941969             144         1 1 M
1          941969             145  12137 12138
2          941972             144         1 1 M
3          941974             144         1 1 M
4          941978             144         1 1 M

## unmapped_object

,unmapped_object_id,type,analysis_id,external_db_id,identifier,unmapped_reason_id,query_score,target_score,ensembl_id,ensembl_object_type,parent
0,1,Marker,16,None,stSG605876,1,None,None,None,None,None
1,2,Marker,16,None,REN93777,1,None,None,None,None,None
2,3,Marker,16,None,ECD09185,1,None,None,None,None,None
3,4,Marker,16,None,L29965,1,None,None,None,None,None
4,5,Marker,16,None,D17S706,1,None,None,None,None,None

## unmapped_reason

,unmapped_reason_id,summary_description,full_description
0,1,Marker matches multiple times,Marker aligns to the genome > 3 times
1,2,Marker does not align,Unable to align to the genome
2,3,Failed to find Stable ID,Stable ID that this xref was linked to no long...
3,4,No mapping done,No mapping done for this type of xref
4,5,Failed to match,Unable to match to any ensembl entity at all

## xref

,xref_id,external_db_id,dbprimary_acc,display_label,version,description,info_type,info_text
0,1,2700,ENSG00000108821,ENSG00000108821,0,<NA>,NONE,
1,2,50541,LRG_1,LRG_1,0,Locus Reference Genomic record for COL1A1,DIRECT,
2,3,50543,LRG_1t1,LRG_1t1,0,Locus Reference Genomic record for COL1A1,DIRECT,
3,4,2700,ENSG00000165370,ENSG00000165370,0,<NA>,NONE,
4,5,50541,LRG_1000,LRG_1000,0,Locus Reference Genomic record for GPR101,DIRECT,